

<pdf>
    <dynamic-page>
        Hello {{ name }}!
    </dynamic-page>
</pdf>
    
    
     <table style="width:100%">
                <thead>
                    <tr>
                        <th><a href="http://www.sfloumka.dev/app_dev.php/chargement"><button>???</button></a></th>
                        <th><a href="http://www.sfloumka.dev/app_dev.php/accueil"><button action= "{{path('djama_affichage')}}" >???</button></a>      </th>           
                    </tr>
                </thead>
            </table>                    
           