<!DOCTYPE html>
<html>
    <head>
        <title>Connexion</title>
    </head>
    <body>
{% if error %}
    <div>{{ error.message }}</div>
{% endif %}
 
{{crypto}}
<form action="{{ path('login_check') }}" method="post">
    <label for="username">Login :</label>
    <input type="text" id="userName" name="_username" value="{{ last_username }}" /> </br>
 
    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="_password" /> <br/>
    
    {#
        If you want to control the URL the user is redirected to on success (more details below)
        <input type="hidden" name="road_login" value="/login" />
    #}
 
    <input type="submit" value="Connexion"/>
</form>
    </body>
</html>